.login .loginImg{width: 100%;height: 246px}
.login .loginDiv{width: 500px;height: 450px;border: 1px solid #eceffd;padding: 60px;box-sizing: border-box;background-color: #fff; border-radius: 6px;margin: 50px auto 0;box-shadow: 0 1px 5px #eceffd;}
.login .account{width: 100%;height: 50px;border: 1px solid #e7e7e7; border-radius: 6px;margin-bottom: 30px;}
.login .com label{width: 58px;height: inherit;display: inline-block;float: left;}
.login .com label.accountA{background: url(/assets/imgs/account.png) no-repeat center center;}
.login .com label.accountP{background: url(/assets/imgs/password.png) no-repeat center center;}
.login .com label.accountV{background: url(/assets/imgs/123.png) no-repeat center center;}
.login .account input{width: 320px;border-radius: 0 6px 6px 0;font-size:14px;height: 50px;background: #fff;float: left;display: inline-block;border: none;outline: none; padding-left: 8px;box-sizing: border-box;}
.login .verification{border: none;}
.login .account .verification-l{width: 202px;float: left;height: 50px;border: 1px solid #e7e7e7;border-radius: 6px;}
.login .account .verification-l input{width: 144px;border-radius: 0 6px 6px 0;}
.login .account .verification-r{text-align:center;width: 150px;float: right; height: 50px;line-height: 50px;border: 1px solid #e7e7e7;border-radius: 6px;}

.login .autoSpan{ font-size: 14px; color: #bbbbbb;display: inline-block;width: 100%;height: 30px;line-height: 30px;}
.login .loginDiv label.input_checkbox{cursor: pointer;height: 30px;line-height: 30px;display: inline-block;}
.login .missPassword{float: right;color: #39b08d;font-size: 14px;}
.login .loginDiv label.input_checkbox input[type="checkbox"] {display: none;opacity: 0;width: 0;height: 0;}
.login .loginDiv label.input_checkbox b {display: inline-block;height: 25px;line-height: 25px;width: 25px;background: url(/assets/imgs/label_checkbox1.png) no-repeat 0 50%;}
.login .loginDiv label.input_checkbox input[type="checkbox"]:checked + b {background: url(/assets/imgs/label_checkbox2.png) no-repeat 0 50%;}
.login .loginDiv .loginBtn{background: #6b749a;margin-top:30px;font-size:14px;border-radius: 6px;border: 1px solid #6b749a;text-align: center;height: 50px;line-height: 50px;width: 100%;color: #fff;cursor: pointer;}
.login .error{margin-top: 5px;color: red;display: inline-block;margin-left: 60px;}